<h1>Editing press</h1>

<%= error_messages_for :press %>

<% form_for(@press) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @press %> |
<%= link_to 'Back', presses_path %>
