<% form_tag :action => :reset_password, :password_reset_code => nil do %>
<p><label for="password_reset_code">Password Reset Code</label><br/>
<%= text_field_tag :password_reset_code %>
</p>
<p><%= submit_tag 'Reset' %></p>
<% end %>