<% @page_title = @manager.name %> 

<h1>Manager: <%= @manager.name %></h1>

<p><%= image_tag @manager.photo.public_filename(:thumb), :class => :left if !@manager.photo.nil? %></p>
<%= @manager.body %>