<h1>Editing concept</h1>

<%= error_messages_for :concept %>

<% form_for(@concept) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @concept %> |
<%= link_to 'Back', concepts_path %>
