<%= render :partial => "shared/nav_concept", :locals => {:concept => @concept} %>

<p><%= @concept.quote %></p>

<% image = @concept.attachments.img_signature.public_filename rescue "signature.gif" %>
<%= image_tag(image, :id => :signature)  %>
<p id="next"><%= link_to ":: NEXT", concept_path(@concept) %></p>