<h2><%= link_to "Concept", concept_path(@concept) %><%= @concept.menu_sections.length > 0 ? link_to("Menu", concept_menu_section_path(@concept, @concept.menu_sections.first)) : "Menu" %></h2>

<%= render :partial => "shared/scroll_pane", :locals => {:text => @concept.body} %>

