<%= render :partial => "shared/nav_concept", :locals => {:concept => @concept} %>

<% if @concept.menu_sections.length > 0 %>
<ul id="menu_sections">
	<% @concept.menu_sections.each do |m| %>
	<li><%= link_to m.title, concept_menu_section_path(@concept,m) %></li>
	<% end %>
</ul>
<% end %>

<br class="clear" />

<% if @menu_section.menu_items.length > 0 %>
<ul id="menu_items">
	<% @menu_section.menu_items.each do |mi| %>
		<li><%= mi.title %></li>
	<% end %>
</ul>
<% end %>