<h1>Editing Menu Item</h1>

<%= error_messages_for :menu_item %>

<% form_for([:admin,@menu_section.concept,@menu_section,@menu_item]) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', admin_concept_menu_section_menu_items_path(@concept,@menu_section) %>
