<%= render :partial => 'page' %>

<h2>CULINARY CONCEPTS BY JEAN-GEORGES is always looking for talented and motivated people with a passion for the culinary arts.</h2>
<p>Please send your resume to <%= mail_to "careers@culinaryconcepts.com", "careers@culinaryconcepts.com", :encode => :javascript %>.</p>