<%= render :partial => 'page' %>

<h2>CULINARY CONCEPTS BY JEAN-GEORGES is located at:</h2>

<ul>
	<li>270 Lafayette Street</li>
	<li>Suite 1406</li>
	<li>New York, NY 10012</li>

	<li>Tel: 212 488-1545</li>
	<li>Fax: 212 226-5726</li>

	<li>info@culinaryconcepts.com</li>
</ul>